$backgroundColor: #ffffff;
$textColor: #f1fffa;
$cardColor: #e5383b;

:root {
  --fontsize-card-title: 20px;
  --fontweight-card-title: 600;
  --fontsize-card-button: 15px;
  --fontweight-card-button: 400;
}

* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  background-color: $cardColor;
}

.card-body {
    background-color: $cardColor;
}

#card-button {
  margin: auto;
  color: $textColor;
}

#movie-card {
  text-align: center;
  min-height: 500px;
  margin-bottom: 50px;
  border-color: $cardColor;
  border-width: 10px;
}

#card-title {
  font-size: var(--fontsize-card-title);
  font-weight: var(--fontweight-card-title);
  background-color: $cardColor;
}

#card-button {
  font-size: var(--fontsize-card-button);
  font-weight: var(--fontweight-card-button);
}