$backgroundColor: #ecacda;
$textColor: #f1fffa;

* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  background-color: $backgroundColor;
  color: $textColor;
}

.btn-link:hover {
    color: #fcf951;
  }

  