* {
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    background-color: #ecacda;
    color: #ffffff;
}

.reistration-card {
    border-color: black;
}

.card-body {
    background-color: #ecacda;
}

