* {
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    background-color: #ecacda;
    color: #ffffff;
  }

  .reistration-card {
    background-color: #e5383b;
  }

  .reistration-card {
    background-color: #e5383b;
  }

  .card-title {
    background-color: #e5383b;
    }

  .registration-form {
    background-color: #e5383b;
    }