$background-color: #ffffff;
$font-family-1: 'DM Sans', sans-serif;
$font-family-2: 'Source Serif Pro', serif;

$body-bg: #000;
$body-color: #111;

.main-view {
    background-color: $background-color;
    font-family: $font-family-1;
}

